.header nav a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.header nav a:hover{
    color: orange;
}
.header{
margin-top: 50px;
}
.header nav span{
    margin-right: 10px;
    color: rgb(204, 40, 92);
    font-weight: bold;
}